---
import BaseLayout from "../../../layouts/BaseLayout.astro";

const books = [
  {
    title: "The Brothers Karamazov",
    author: "Fyodor Dostoevsky",
  },
  {
    title: "Desert Solitaire",
    author: "Edward Abbey",
  },
  {
    title: "The Dharma Bums",
    author: "Jack Kerouac",
  },
  {
    title: "Wilderness Essays",
    author: "John Muir",
  },
  {
    title: "The Power and the Glory",
    author: "Graham Greene",
  },
   {
    title: "Lonesome Dove",
    author: "Larry McMurtry",
  },
   {
    title: "The Count of Monte Cristo",
    author: "Alexander Dumas",
  },
   {
    title: "All the Pretty Horses",
    author: "Cormac McCarthy",
  },
  {
    title: "The Snow Leopard",
    author: "Peter Matthiessen",
  },
  {
    title: "A River Runs Through It",
    author: "Norman Maclean",
  },
  {
    title: "Sometimes a Great Notion",
    author: "Ken Kesey",
  },
  {
    title: "A Sand County Almanac",
    author: "Aldo Leopold",
  },
  {
    title: "The Razor's Edge",
    author: "W. Somerset Maugham",
  },
  {
    title: "Angle of Repose",
    author: "Wallace Stegner",
  },
  {
    title: "The Sun Also Rises",
    author: "Ernest Hemingway",
  },
  {
    title: "The Crossing",
    author: "Cormac McCarthy",
  },
  {
    title: "",
    author: "",
  },
  
];
---

<BaseLayout title="Want to Read | Teddy Travels">
  <section class="page-header">
    <p class="eyebrow">Books</p>
    <h1>Want to Read</h1>
    <p>
      Books I want to get to eventually. Feel free to email me suggestions!
    </p>
  </section>

  <section class="archive-list-section">
    <div class="archive-list-header">
      <h2>Books</h2>
    </div>

    <ol class="simple-report-list">
      {books.map((book) => (
        <li class="simple-report-item book-list-item">
          <span class="book-title">{book.title}</span>
          <span>{book.author}</span>
        </li>
      ))}
    </ol>
  </section>
</BaseLayout>
